<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
   <bean id="CustomerBean" class="com.chapter2.activity1.Customer">
   <property name="accountName" value="John Philip"/>
   <property name="firstName" value="John"/>
   <property name="middleName" value="k"/>
   <property name="lastName" value="Philip"/>
   <property name="dateOfBirth" value="13"/>
   <property name="monthOfBirth" value="09"/>
   <property name="yearOfBirth" value="1975"/>
   <property name="motherName" value="kathy Philip"/>
   <property name="emailID" value="John Philip@hotmail.com"/>
   <property name="gender" value="Male"/>
   <property name="maritalStatus" value="Single"/>
   <property name="houseNo" value="10 park Street"/>
   <property name="streetName" value="10 park street"/>      
   <property name="state" value="Florida"/>
   <property name="city" value="Miami"/> 
   <property name="pincode" value="1A5012"/>    
   <property name="phone" value="56894561"/>    
  <property name="userName" value="984568954"/>       
  <property name="password" value="56894561"/>            
                     
   </bean>
   <bean id="AccountBean" class="com.chapter2.activity1.Account">
   <constructor-arg value="ICHD00010001"/>
    <constructor-arg value="SAVINGS"/>
   <constructor-arg value="23/08/2010"/>  
   <constructor-arg value="10000"/> 
   </bean>
   <bean id="FundTransferTransactionBean"
   class="com.chapter2.activity1.FundTransfer">
    <constructor-arg value="10000"/>
    </bean>
    </beans>
   